table {
  width: 100%;
}

.ladda-hem {
  display: flex;
  justify-content: flex-end;
}

.mat-column-bilaga {
  width: 30%;
}

.mat-column-uppladdat {
  width: 30%;
}

.mat-column-kategori {
  width: 30%;
}

.mat-column-laddaHem {
  width: 10%;
}
xp-dropzone {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
