.add-kundadmin-form{
  padding-top: 2rem;
}

.user{
  margin: 0;
  padding: 0 8px;
  display: inline-flex;
}

.user-list{
  padding-bottom: 1rem;
}

.user-text{
  margin: 0;
  padding-left: 20px;
  line-height: 40px;
}

.show-add-form{
  background-color: var(--background);
}
