form {
  display: grid;
  grid-template-rows: 1fr;
  padding-bottom: 1.5em;
  padding-top: 1em;
  padding-left: 16px;
}

mat-checkbox {
  padding-bottom: 1em;
}

#postnummer-ort {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1em;
}

#set-status {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  padding-right: 1em;

  span {
    display: flex;
    color: var(--primary-variant);
    align-items: center;
    white-space: nowrap;
  }
}

#buttons {
  text-align: end;
}

#set-status {
  position: relative;
  float: right;
}

.info-icon {
  display: inline-flex;
  vertical-align: bottom;
}

.utbetalningsdatum {
  margin-left: 114px;
}

::ng-deep .tooltip {
  font-size: 12px;
}
