.mat-radio-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form {
  padding-right: 15px;

  span {
    margin-right: 10px;
  }

}

.mat-list-single-selected-option[aria-selected="true"] {
  background-color: var(--accent-variant)
}