<div class="row footer-container">
    <div class="col-12">
      <div class="row justify-center">
        <div class="col-11">
          <div class="row sidfot-content">
            <div class="col-8">
              <h1>Metria Markhandläggning</h1>
              <p>
                Har du några funderingar, eller har du upptäckt ett problem med tjänsten? Kontakta oss!
                <br>
                Vår support finns på plats för att svara på dina frågor mellan 08–17 alla vardagar.
              </p>
              <p class="sidfot-contact-info">
                Tel 010-121 81 00
                <br>
                <a href="mailto:support@metria.se?Subject=Markhandläggning">support@metria.se</a>
              </p>
            </div>
            <div class="col-4">
                <mat-icon svgIcon="logo" inline="true" style="float: right;"></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>