form {
  padding-bottom: 1.5em;
  width: 100%;
}

mat-form-field{
  width: calc(100% - 10px);
}

.right{
  padding-left: 10px;
}

.actions {
  justify-content: flex-end;
  display: flex;
  align-self: center;
  button ~ button {
    margin-left: 1.5rem;
  }
}

mat-dialog-actions {
  button ~ button {
    margin-left: 1rem;
  }
}