<div class="days">
    <div class="monday">
        <app-monday></app-monday>
    </div>

    <mat-divider></mat-divider>

    <div class="Tuesday">
        <app-tuesday></app-tuesday>

    </div>
    <mat-divider></mat-divider>

    <div class="Wednesday">
        <app-wednesday></app-wednesday>

    </div>
    <mat-divider></mat-divider>

    <div class="Thursday">
        <app-thursday></app-thursday>

    </div>
    <mat-divider></mat-divider>

    <div class="Friday">
        <app-friday></app-friday>

    </div>




</div>
