<xp-draggable-panel *ngIf="isOpen"
                    class="toolbox"
                    [title]="'mk.kartverktyg.hanteraIntrang.verktygslada.title' | transloco"
                    boundary=".overlay"
                    (panelClose)="closeToolbox()">

  <div class="tools">
    <button *ngFor="let button of buttons"
            mat-icon-button
            class="mat-elevation-z1"
            (click)="selectTool(button.id)"
            [ngClass]="{'selected' : selectedTool === button.id}">

      <div class="button-content">
        <mat-icon>{{button.icon}}</mat-icon>
        <span>{{button.iconText}}</span>
      </div>

    </button>

    <!-- <button mat-icon-button class="mat-elevation-z1" (click)="selectTool(ToolboxTool.REMOVE)" [ngClass]="{'selected' : selectedTool.value === ToolboxTool.REMOVE}">
      <div class="button-content">
        <mat-icon class="remove">remove_circle_outline</mat-icon>
        <span>{{ "mk.kartverktyg.hanteraIntrang.verktygslada.remove" | transloco }}</span>
      </div>
    </button>
    <button mat-icon-button class="mat-elevation-z1" (click)="selectTool(ToolboxTool.UNDO)" [ngClass]="{'selected' : selectedTool.value === ToolboxTool.UNDO}">
      <div class="button-content">
        <mat-icon>undo</mat-icon>
        <span>{{ "mk.kartverktyg.hanteraIntrang.verktygslada.undo" | transloco }}</span>
      </div>
    </button> -->
  </div>
</xp-draggable-panel>
