.progress-bar-container {
  padding-top: 2rem;
}

.message-container {
  display: block;
  padding-top: 2rem;
}

.ombud-container {
  display: block;
  padding-top: 2rem;
}

.add-ombud{
  padding-top: 0.7rem;
}


.delagande-fastigheter-container {
  padding-top: 1.5rem;
}

.actions-right {
  text-align: right;
}

.action-container {
  padding-top: 1rem;
}

.avtalsstatus-container {
  display: inline-block;
  padding-right: 24px;

  span {
    display: inline-block;
    margin-right: 8px;
  }
}

.check-all-container {
  display: inline-block;
  padding: 0 24px 0 0;
}

.skapa-avtal-container {
  padding-top: 1rem;
}

.intrang-karta-container {
  padding-top: 2rem;
}

.intrangsinformation {
  padding-right: 40px;
}

.disabled {
  opacity: 0.4;
}

table {
  width: 100%;
  background: var(--background);
}

mat-progress-bar {
  height: 3px;
}

mat-paginator {
  background: var(--background);
}
