@import "../../../../../../lib/ui/xp-breakpoints.scss";

.background-image {
    background-image: url(../../../../assets/metria_bakgrund.png);
    height: 100%;
}

.product-page-wrapper {
    max-width: 1366px;
    margin: auto;
    background-color: var(--background);
    min-height: 100vh;
}

.breadcrumbs {
    padding: 4px 24px;
}
