<app-shell #appShell [loginRequired]="true" [auth]="true"
           [leftBottomPanelTemplateRef]="leftBottomPanel"
           [rightBottomPanelTemplateRef]="rightBottomPanel"
           [rightPanelTemplateRef]="rightPanel"
           [leftPanelTemplateRef]="leftPanel"
           [miscTemplateRef]="misc">
</app-shell>

<ng-template #leftBottomPanel>
  <xp-navigation-toolbar id="navigation-toolbar" class="toolbar"></xp-navigation-toolbar>
  <xp-background-buttons-panel></xp-background-buttons-panel>
</ng-template>


<ng-template #leftPanel>
  <xp-edp-info-panel *ngIf="edpInfoPanelVisible" class="xp-sub-panel"></xp-edp-info-panel>
  <xp-castor-info-panel *ngIf="castorInfoPanelVisible" class="xp-sub-panel"></xp-castor-info-panel>
  <xp-search-panel default="Fastighet" selectType="selectbox" [searchResultTemplate]="appShell.isSmallDevice() ? empty : searchResultPanelTemplate">
    <xp-search-type name="Fastighet">
      <xp-search-fastighet></xp-search-fastighet>
    </xp-search-type>
    <xp-search-type name="Adress">
      <xp-search-address></xp-search-address>
    </xp-search-type>
    <xp-search-type name="Ort">
      <xp-search-ort></xp-search-ort>
    </xp-search-type>
    <xp-search-type name="Kommun">
      <xp-search-kommun></xp-search-kommun>
    </xp-search-type>
    <xp-search-type name="Koordinat">
      <xp-search-koordinat [zoomFactor]="10"></xp-search-koordinat>
    </xp-search-type>
    <xp-search-type name="Rättighet">
      <xp-search-rattighet></xp-search-rattighet>
    </xp-search-type>
    <xp-search-type name="Detaljplan">
      <xp-search-plan></xp-search-plan>
    </xp-search-type>
    <xp-search-type name="Gemensamhetsanläggningar">
      <xp-search-ga></xp-search-ga>
    </xp-search-type>
  </xp-search-panel>
  <xp-collapsable-info-panel [infoPanelTemplateRef]="infoPanelTemplate"></xp-collapsable-info-panel>
</ng-template>

<ng-template #rightBottomPanel>
  <xp-menu>
    <button mat-menu-item (click)="appShell.logOut()">Logga ut {{appShell.user?.claims.email}}</button>
    <button mat-menu-item *ngIf="configService.getProperty('app.components.edp_panel.visible', false)"
            (click)="edpInfoPanelVisible = true">Logga in i EDP</button>
    <button mat-menu-item *ngIf="configService.getProperty('app.components.castor_panel.visible', false)"
            (click)="castorInfoPanelVisible = true">Castor infopanel</button>
    <button mat-menu-item (click)="appShell.share()">Dela karta</button>
    <button mat-menu-item (click)="appShell.export('Geovis')">Exportera karta</button>
    <button mat-menu-item (click)="appShell.help()">Hjälp</button>
    <button mat-menu-item (click)="appShell.contact()">Kontakt</button>
    <button mat-menu-item (click)="appShell.infoFastighetsgrans()">Information om fastighetsgränser</button>
  </xp-menu>
</ng-template>

<ng-template #rightPanel>
  <xp-layer-panel id="layer-panel"
                  (layerChange)="appShell.map.onLayerChange($event)"
                  (collapsedStateUpdate)="appShell.setRightPanelClosed($event)">
  </xp-layer-panel>
</ng-template>

<ng-template #misc>
  <xp-draggable-panel #bottomPanel>
    <xp-info-panel [infoPanelTemplateRef]="infoPanelTemplate" (shouldOpen)="bottomPanel.expandToHeight(180)"></xp-info-panel>
  </xp-draggable-panel>
</ng-template>

<ng-template #infoPanelTemplate>
  <ng-container *ngTemplateOutlet="appShell.isSmallDevice() ? searchResultPanelTemplate : empty"></ng-container>
  <h3 style="margin-bottom: 0">Platsinfo</h3>
  <!-- Funktion borttagen enligt XP-240
  <xp-adress-panel></xp-adress-panel>
  -->
  <xp-coordinate-panel></xp-coordinate-panel>
</ng-template>

<ng-template #searchResultPanelTemplate>
  <xp-place-info-panel></xp-place-info-panel>
  <xp-feature-info-panel></xp-feature-info-panel>
  <xp-fsok-panel></xp-fsok-panel>
  <xp-geometri-sok-panel></xp-geometri-sok-panel>
</ng-template>

<ng-template #empty></ng-template>
