h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.histogram {
  height: 240px;
  background-color: transparent;
  border-radius: 2px;
  color: white;
}
.chart-radio-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
