
<xp-collapsable-panel #collapsablePanel [svgIcon]="'skogsanalys'" [collapsed]="true" (stateUpdate)="onCollapsablePanelStateUpdate($event)">
  <div class="analysis-panel">
    <h3>Metria &nbsp;<span style="color: rgb(251, 90, 50)">|</span> &nbsp; Skogsanalys</h3>

    <div class="report-button" *ngIf="reportAccess()">
      <button class="item-with-margin border-btn" mat-stroked-button (click)="rapport();">Rapport</button>
    </div>
    <div *ngFor="let group of dataSource" class="group-list">
      <mat-divider></mat-divider>
      <div class="group-title" (click)="analyze(group); description.open = false" (mouseenter)="description.open = true"
           (mouseleave)="description.open = false" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <mat-icon *ngIf="!group.expanded">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="group.expanded">keyboard_arrow_down</mat-icon>
        <span>{{group.title}}</span>
        <mat-spinner [diameter]="18" *ngIf="group.isLoading"></mat-spinner>
        <mat-icon *ngIf="evaluateError(group)" (click)="reanalyze(group)">error</mat-icon>

        <xp-popover #description [title]="group.title" [description]="group.description"
                    [attribution]="group.attribution" [horizontalAlign]="'after'" [trigger] = "trigger"></xp-popover>
      </div>

      <div [ngStyle]="{'display': group.expanded ? 'block': 'none'}">

        <div class="group-contents" [ngSwitch]="group.component">
          <ng-template *ngSwitchCase="'nmd'"
                       [ngTemplateOutlet]="nmd"
                       [ngTemplateOutletContext]="{$implicit: group}">
          </ng-template>
          <ng-template *ngSwitchCase="'skogliga-grunddata'"
                       [ngTemplateOutlet]="skogligaGrunddata"
                       [ngTemplateOutletContext]="{$implicit: group}">
          </ng-template>
          <ng-template *ngSwitchCase="'avverkningsstatistik'"
                       [ngTemplateOutlet]="avverkningsstatistik"
                       [ngTemplateOutletContext]="{$implicit: group}">
          </ng-template>
          <ng-template *ngSwitchCase="'huggningsklasser'"
                       [ngTemplateOutlet]="huggningsklasser"
                       [ngTemplateOutletContext]="{$implicit: group}">
          </ng-template>
          <ng-template *ngSwitchCase="'skyddade-omraden'"
                       [ngTemplateOutlet]="skyddadeOmraden"
                       [ngTemplateOutletContext]="{$implicit: group}">
          </ng-template>
          <ng-template *ngSwitchDefault [ngTemplateOutlet]="default"></ng-template>
        </div>
      </div>
    </div>
  </div>

  <ng-template #skogligaGrunddata let-group>
    <xp-skogliga-grunddata-panel [resultat]="group.result" [error]="group.error"></xp-skogliga-grunddata-panel>
  </ng-template>

  <ng-template #nmd let-group>
    <xp-nmd-panel [resultat]="group.result | async" [error]="group.error"></xp-nmd-panel>
  </ng-template>

  <ng-template #avverkningsstatistik let-group>
    <xp-avverkningsstatistik-panel [resultat]="group.result | async"
                                   [error]="group.error"></xp-avverkningsstatistik-panel>
  </ng-template>

  <ng-template #huggningsklasser let-group>
    <xp-huggningsklasser-panel [resultat]="group.result | async" [error]="group.error"></xp-huggningsklasser-panel>
  </ng-template>

  <ng-template #skyddadeOmraden let-group>
    <xp-skyddade-omraden-panel [resultat]="group.result | async"
                               [error]="group.error"></xp-skyddade-omraden-panel>
  </ng-template>


  <ng-template #default>
    Tjänsten är temporärt ej tillgänglig.
  </ng-template>
</xp-collapsable-panel>
