.centered-content {
    display: flex;
    flex-direction: row;
}

.contact {
    border: solid 1px orange;
}

.link-on-company {
    border: solid 1px orange;
}

.adm-ads {
    border: solid 1px orange;
}

.quick-links {
    border: solid 1px orange;
}