.mat-card-header {
  margin-left: -16px;
}

mat-card-content {
  margin-left: 1em;
}

button {
  padding-left: 0;
}

h3.title {
  margin-bottom: 0;
}

div.item > mat-divider {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

mat-card {
  background-color: var(--background);
}
