<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped myTable">
                    <thead>
                        <th>Id</th>
                        <th>firstName</th>
                        <th>lastName</th>
                        <th>email</th>
                        <th>telefon</th>
                        <th>password</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.userId}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.telefon}}</td>
                            <td>{{user.password}}</td>
                            <td><button class="edit">Edit</button></td>
                            <td><button class="delete">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="createUser">
            <button class="createUserButton">Skaffa Användare</button>
        </div>
    </div>
</body>

</html>
