<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>{{ data.body }}</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close [disabled]="loading">Avbryt</button>
  <button mat-raised-button [mat-dialog-close]="true" *ngIf="!data.await" [color]="data.color">
    <span>{{ data.button }}</span>
  </button>
  <button mat-raised-button *ngIf="data.await" [color]="data.color" (click)="onDelete()">
    <span *ngIf="!loading">{{ data.button }}</span>
    <mat-spinner *ngIf="loading" [diameter]="36" class="spinner"></mat-spinner>
  </button>
</div>