<form [formGroup]="form">
  <mat-checkbox *ngIf="showKontaktperson" formControlName="kontaktperson">
    {{ "mk.agareinformation.contactPerson" | transloco}}
    <mat-icon [matTooltip]="kontaktpersonTooltip" class="info-icon" matTooltipClass="tooltip">info</mat-icon>
  </mat-checkbox>

  <mat-form-field>
    <input matInput
           type="text"
           formControlName="namn"
           placeholder="{{ 'mk.agareinformation.name' | transloco }}"/>
    <mat-error *ngIf="form?.controls.namn.hasError('invalidName')">
      {{"xp.common.fieldMandatory" | transloco}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="text"
           formControlName="adress"
           placeholder="{{ 'mk.agareinformation.address' | transloco }}"/>
  </mat-form-field>

  <div id="postnummer-ort">

    <mat-form-field>
      <input matInput
             type="text"
             formControlName="postnummer"
             placeholder="{{ 'mk.agareinformation.postalCode' | transloco }}"/>
      <mat-error>{{ 'mk.agareinformation.invalidPostalCode' | transloco }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="ort" placeholder="{{ 'mk.agareinformation.location' | transloco }}"/>
    </mat-form-field>

  </div>

  <mat-form-field>
    <input matInput
           type="text"
           formControlName="telefon"
           placeholder="{{ 'mk.agareinformation.telephoneNumber' | transloco }}"/>
    <mat-error>{{ 'mk.agareinformation.invalidTelephone' | transloco }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" formControlName="ePost" placeholder="{{ 'mk.agareinformation.eMail' | transloco }}"/>
    <mat-error>{{ 'mk.agareinformation.invalidEMail' | transloco }}</mat-error>
  </mat-form-field>

  <div class="row">
    <mat-form-field class="col-12">
      <input matInput
             type="text"
             formControlName="bankkonto"
             placeholder="{{ 'mk.agareinformation.accountNumber' | transloco }}"/>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-12">
      <input matInput
             type="text"
             formControlName="andel"
             placeholder="{{ 'mk.agareinformation.ownerShare' | transloco }}"/>
      <mat-error *ngIf="form?.controls.andel.hasError('pattern')">{{ 'mk.agareinformation.invalidAndel' | transloco }}</mat-error>
      <mat-error *ngIf="form?.controls.andel.hasError('invalidAndel')">{{ 'mk.agareinformation.invalidAndelValue' | transloco }}</mat-error>
    </mat-form-field>
  </div>

  <div id="set-status">
    <span>{{ 'mk.agareinformation.setStatus' | transloco }}</span>
    <mat-form-field>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of avtalsstatus" [value]="status">{{ status | prefix:"mk.avtal." | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="ersattningUtbetald()">
    <mat-form-field class="utbetalningsdatum">
      <mat-label>{{ 'mk.agareinformation.payment' | transloco }}</mat-label>
      <input matInput color="secondary" [matDatepicker]="picker" placeholder="YYYY-MM-DD" formControlName="utbetalningsdatum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div id="buttons">

    <button mat-button class="button-remove-focus-overlay ombud-delete" disableRipple="true" (click)="onDelete()">
      {{ 'xp.common.delete' | transloco }}
    </button>
    <button class="ombud-save" mat-raised-button type="submit" color="primary" [disabled]="!canSave()" (click)="save()">
      {{ 'xp.common.save' | transloco }}
    </button>
  </div>
</form>
