<div class="foodMenus">
    <div class="dateOfTheDay">
        <h1 class=dateDay>Hello Thursday</h1>
    </div>
    <div class="numbering">
        <h1 class=images>
            <a class="Food-character">
                <p>1 ..</p>
            </a>
            <a class="Food-character">
                <p>2 ..</p>
            </a>
            <a class="Food-character">
                <p>3 ..</p>
            </a>
            <a class="Food-character">
                <p>4 ..</p>
            </a>

        </h1>
    </div>

    <div class="menusOfTheDay">
        <h2 class="menuItems">

            <a class="Food-menu-item">
                <p>Rice ..</p>
            </a>
            <a class="Food-menu-item">
                <p>Rice ..</p>
            </a>
            <a class="Food-menu-item">
                <p>Rice ..</p>
            </a>
            <a class="Food-menu-item">
                <p>Rice ..</p>
            </a>
        </h2>
    </div>
</div>
