<h1 class="calibri-header">{{ 'mm.checkout.confirmation.titel' | transloco }}</h1>
<mat-divider></mat-divider>
<div class="confirmation-content">
  <mat-icon class="material-icons-outlined" color="accent">verified</mat-icon>
  <p>{{ 'mm.checkout.confirmation.confirmedOrder' | transloco }}</p>
  <p>{{ 'mm.checkout.confirmation.confirmationEmail' | transloco }}</p>
  <p class="find-order-text">{{ 'mm.checkout.confirmation.findOrder' | transloco }} <a
      href="{{orderHistoryPath}}">Orderhistorik</a></p>
</div>
