#wrapper {
  padding: 20px;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 5px;
}

.group-label {
  padding-left: 1em;
}

.subgroup-panel {
  padding-left: 16px;
}

.teckenforklaring {
  padding-top: 0.5em;
}
