.mat-card-header {
  margin-left: -16px;
}
.mat-card-content {
  margin-top: 16px;
  margin-bottom: 16px;
}
.item {
  margin-top: 8px;
  
  h3 {
    margin-bottom: 0px;
  }
}
.mat-card .mat-divider-inset {
  margin-top: 8px;
}

