#wrapper {
  padding: 3rem 0;
}

#title-background {
  background-image: url("/assets/admin-bakgrund.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
}

.namn {
  margin: 0;
}

.main-content {
  margin: 2rem 0.1rem;
}
