.analysis {
  font-size: 10pt;
}

.hidden {
  display: none;
}

.group-title {
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.group-title mat-icon {
  position: relative;
  top: 5px;
}

.group-list {
  clear: left;
}

.group-contents {
  /*margin-left: 10px;*/
  page-break-inside: avoid;
  margin-bottom: 20px;
  background-color: white;
}
