<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="loginForm" id="loginForm">
                <label class="loginLabel">User Name</label>
                <input type="text" class="userLoginText" name="username" id="userName">
                <br>
                <label class="loginLabel">Password</label>
                <input type="text" class="userPasswordText" name="password" id="password">
                <br>
                <button class="loginSubmit" id="loginSumbit" >Submit</button>
            </div>

</body>
</html>