USE [Miljodatabas]
GO
/****** Object:  Table [dbo].[ANALYS]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANALYS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATOBJEKT_ID] [int] NOT NULL,
	[ANALYS_DATUM] [smalldatetime] NOT NULL,
	[KOMMENTAR] [nvarchar](500) NULL,
	[RAPPORTOR] [nvarchar](60) NULL,
 CONSTRAINT [PK_ANALYS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANALYS_BIFOGAD_RAPPORT]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANALYS_BIFOGAD_RAPPORT](
	[ANALYS_ID] [int] NOT NULL,
	[BIFOGAD_FIL_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANVANDARE]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANVANDARE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMN] [nvarchar](130) NULL,
	[FORETAG] [nvarchar](60) NULL,
	[AKTIV] [bit] NOT NULL,
	[INLOGGNINGS_NAMN] [nvarchar](130) NULL,
	[BEHORIGHET] [tinyint] NOT NULL,
	[DEFAULT_KARTLAGER_ID] [int] NULL,
	[SKICKA_EPOST] [bit] NOT NULL,
	[E_POST] [nvarchar](130) NULL,
	[INLOGGAD_SENAST] [smalldatetime] NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
	[AUTHENTICATION_KEY] [nvarchar](20) NULL,
 CONSTRAINT [PK_ANVANDARE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ANVANDARE_INLOGGNINGS_NAMN] UNIQUE NONCLUSTERED 
(
	[INLOGGNINGS_NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANVANDARGRUPP]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANVANDARGRUPP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_ANVANDARGRUPP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ANVANDARGRUPP_NAMN] UNIQUE NONCLUSTERED 
(
	[NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANVANDARGRUPP_ANVANDARE]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANVANDARGRUPP_ANVANDARE](
	[ANVANDAR_ID] [int] NOT NULL,
	[ANVANDARGRUPP_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIFOGAD_FIL]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIFOGAD_FIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MIME_TYP] [nvarchar](130) NOT NULL,
	[FILNAMN] [nvarchar](255) NOT NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[FIL] [varbinary](max) NOT NULL,
	[THUMBNAIL] [varbinary](max) NULL,
 CONSTRAINT [PK_BIFOGAD_FIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [LARGE_DATA]
GO
/****** Object:  Table [dbo].[DEFINITION_MATNINGSTYP]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEFINITION_MATNINGSTYP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATOBJEKT_TYP] [tinyint] NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[STORHET] [nvarchar](20) NULL,
	[ENHET] [nvarchar](12) NOT NULL,
	[DECIMALER] [tinyint] NOT NULL,
	[BERAKNAD_STORHET] [nvarchar](20) NULL,
	[BERAKNAD_ENHET] [nvarchar](12) NULL,
	[BERAKNAD_DECIMALER] [tinyint] NULL,
	[FELKODER] [nvarchar](500) NOT NULL,
	[GRAFTYP] [tinyint] NOT NULL,
	[AUTOMATISK_INRAPPORTERING] [bit] NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
	[ANDRINGSBAR] [bit] NOT NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_MATNINGSTYP_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRANSVARDE]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRANSVARDE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATNINGSTYP_ID] [int] NOT NULL,
	[TYP_AV_KONTROLL] [tinyint] NOT NULL,
	[GRANSVARDE] [float] NOT NULL,
	[LARMNIVA_ID] [int] NOT NULL,
	[LARM_TILL_ANVANDARGRUPP_ID] [int] NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_GRANSVARDE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPP]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORI] [tinyint] NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[KARTSYMBOL] [tinyint] NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_GRUPP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_GRUPP_NAMN] UNIQUE NONCLUSTERED 
(
	[NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPP_MATOBJEKT]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPP_MATOBJEKT](
	[MATOBJEKT_ID] [int] NOT NULL,
	[GRUPP_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANDELSE]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANDELSE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATOBJEKT_ID] [int] NOT NULL,
	[BENAMNING] [nvarchar](60) NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
	[LOGGAD_DATUM] [smalldatetime] NOT NULL,
	[LOGGAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_HANDELSELOGG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANDELSE_BIFOGAD_BILD]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANDELSE_BIFOGAD_BILD](
	[HANDELSE_ID] [int] NOT NULL,
	[BIFOGAD_FIL_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KARTLAGER]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KARTLAGER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[GRUPP] [nvarchar](60) NULL,
	[ORDNING] [smallint] NOT NULL,
	[VISA] [bit] NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
	[DIREKTLANK] [bit] NOT NULL,
	[OMRADE_N1] [decimal](10, 3) NULL,
	[OMRADE_E1] [decimal](10, 3) NULL,
	[OMRADE_N2] [decimal](10, 3) NULL,
	[OMRADE_E2] [decimal](10, 3) NULL,
	[ANDRINGSBAR] [bit] NOT NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_KARTLAGER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_KARTLAGER_NAMN] UNIQUE NONCLUSTERED 
(
	[NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KARTLAGER_FIL]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KARTLAGER_FIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KARTLAGER_ID] [int] NOT NULL,
	[FILNAMN] [nvarchar](255) NOT NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[FIL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KARTLAGER_FIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [LARGE_DATA]
GO
/****** Object:  Table [dbo].[LARM]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MATOBJEKT_ID] [int] NOT NULL,
	[GRANSVARDE_ID] [int] NOT NULL,
	[MATNING_ID] [bigint] NOT NULL,
	[STATUS] [tinyint] NOT NULL,
 CONSTRAINT [PK_LARM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARMNIVA]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARMNIVA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[BESKRIVNING] [nvarchar](130) NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_LARMNIVA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_LARMNIVA_NAMN] UNIQUE NONCLUSTERED 
(
	[NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATNING]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATNING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MATNINGSTYP_ID] [int] NOT NULL,
	[AVLAST_DATUM] [smalldatetime] NOT NULL,
	[AVLAST_VARDE] [float] NULL,
	[INOM_DETEKTIONSOMRADE] [tinyint] NOT NULL,
	[BERAKNAT_VARDE] [float] NULL,
	[STATUS] [tinyint] NOT NULL,
	[KOMMENTAR] [nvarchar](250) NULL,
	[FELKOD] [nvarchar](60) NULL,
	[RAPPORTOR] [nvarchar](60) NULL,
 CONSTRAINT [PK_MATNING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATNINGSLOGG]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATNINGSLOGG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MATNING_ID] [bigint] NOT NULL,
	[LOGGAT_DATUM] [smalldatetime] NOT NULL,
	[LOGGAT_AV_ID] [int] NULL,
	[HANDELSE] [tinyint] NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
 CONSTRAINT [PK_MATNINGSLOGG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATNINGSTYP]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATNINGSTYP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATOBJEKT_ID] [int] NULL,
	[DEFINITION_MATNINGSTYP_ID] [int] NOT NULL,
	[MATANSVARIG_ANVANDARGRUPP_ID] [int] NULL,
	[MATINTERVALL_ANTAL_GANGER] [tinyint] NOT NULL,
	[MATINTERVALL_TIDSENHET] [tinyint] NOT NULL,
	[AKTIV] [bit] NOT NULL,
	[PAMINNELSE_DAGAR] [tinyint] NOT NULL,
	[INSTRUMENT] [nvarchar](60) NULL,
	[GRANSKAS_AUTOMATISKT] [bit] NOT NULL,
	[GRANSKAS_MIN] [float] NULL,
	[GRANSKAS_MAX] [float] NULL,
	[BERAKNING_KONSTANT] [float] NULL,
	[BERAKNING_REFERENSNIVA] [float] NULL,
	[MAX_PEJLBART_DJUP] [float] NULL,
	[FIXPUNKT] [nvarchar](20) NULL,
	[ENHET] [nvarchar](12) NOT NULL,
	[DECIMALER] [tinyint] NOT NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_MATNINGS_TYP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATOBJEKT]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATOBJEKT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYP] [tinyint] NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[AKTIV] [bit] NOT NULL,
	[KONTROLLPROGRAM] [bit] NOT NULL,
	[POS_N] [decimal](10, 3) NOT NULL,
	[POS_E] [decimal](10, 3) NOT NULL,
	[FASTIGHET] [nvarchar](60) NULL,
	[LAGE] [nvarchar](500) NULL,
	[BIFOGAD_BILD_ID] [int] NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_MATOBJEKT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MATOBJEKT_NAMN] UNIQUE NONCLUSTERED 
(
	[NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATOBJEKT_BIFOGAT_DOKUMENT]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATOBJEKT_BIFOGAT_DOKUMENT](
	[MATOBJEKT_ID] [int] NOT NULL,
	[BIFOGAD_FIL_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRUNDA]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRUNDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMN] [nvarchar](60) NOT NULL,
	[AKTIV] [bit] NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_MATRUNDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MATRUNDA_NAMN] UNIQUE NONCLUSTERED 
(
	[NAMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRUNDA_MATNINGSTYP]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRUNDA_MATNINGSTYP](
	[MATRUNDA_ID] [int] NOT NULL,
	[MATNINGSTYP_ID] [int] NOT NULL,
	[ORDNING] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDDELANDEN_STARTSIDA]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDDELANDEN_STARTSIDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATUM] [smalldatetime] NOT NULL,
	[RUBRIK] [nvarchar](130) NOT NULL,
	[URL] [nvarchar](255) NULL,
	[MEDDELANDE] [nvarchar](500) NOT NULL,
	[SKAPAD_DATUM] [smalldatetime] NULL,
	[ANDRAD_DATUM] [datetime2](7) NULL,
	[ANDRAD_AV_ID] [int] NULL,
 CONSTRAINT [PK_MEDDELANDEN_STARTSIDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEMLOGG]    Script Date: 2019-09-24 13:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEMLOGG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGGAT_DATUM] [smalldatetime] NOT NULL,
	[LOGGAT_AV_ID] [int] NULL,
	[HANDELSE] [tinyint] NOT NULL,
	[BESKRIVNING] [nvarchar](500) NULL,
 CONSTRAINT [PK_SYSTEMLOGG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANVANDARE] ADD  DEFAULT ((1)) FOR [AKTIV]
GO
ALTER TABLE [dbo].[ANVANDARE] ADD  DEFAULT ((0)) FOR [SKICKA_EPOST]
GO
ALTER TABLE [dbo].[DEFINITION_MATNINGSTYP] ADD  DEFAULT ((4)) FOR [DECIMALER]
GO
ALTER TABLE [dbo].[DEFINITION_MATNINGSTYP] ADD  DEFAULT ('Hinder, Annat fel') FOR [FELKODER]
GO
ALTER TABLE [dbo].[DEFINITION_MATNINGSTYP] ADD  DEFAULT ((0)) FOR [GRAFTYP]
GO
ALTER TABLE [dbo].[GRUPP] ADD  DEFAULT ((0)) FOR [KARTSYMBOL]
GO
ALTER TABLE [dbo].[KARTLAGER] ADD  DEFAULT ((1)) FOR [VISA]
GO
ALTER TABLE [dbo].[KARTLAGER] ADD  DEFAULT ((0)) FOR [DIREKTLANK]
GO
ALTER TABLE [dbo].[LARM] ADD  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[MATNING] ADD  DEFAULT ((1)) FOR [INOM_DETEKTIONSOMRADE]
GO
ALTER TABLE [dbo].[MATNING] ADD  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[MATNINGSTYP] ADD  DEFAULT ((1)) FOR [AKTIV]
GO
ALTER TABLE [dbo].[MATNINGSTYP] ADD  DEFAULT ((3)) FOR [PAMINNELSE_DAGAR]
GO
ALTER TABLE [dbo].[MATNINGSTYP] ADD  DEFAULT ((0)) FOR [GRANSKAS_AUTOMATISKT]
GO
ALTER TABLE [dbo].[MATOBJEKT] ADD  DEFAULT ((1)) FOR [AKTIV]
GO
ALTER TABLE [dbo].[MATOBJEKT] ADD  DEFAULT ((0)) FOR [KONTROLLPROGRAM]
GO
ALTER TABLE [dbo].[MATRUNDA] ADD  DEFAULT ((0)) FOR [AKTIV]
GO
ALTER TABLE [dbo].[MATRUNDA_MATNINGSTYP] ADD  DEFAULT ((0)) FOR [ORDNING]
GO
ALTER TABLE [dbo].[ANALYS]  WITH CHECK ADD  CONSTRAINT [FK_ANALYS_MATOBJEKT] FOREIGN KEY([MATOBJEKT_ID])
REFERENCES [dbo].[MATOBJEKT] ([ID])
GO
ALTER TABLE [dbo].[ANALYS] CHECK CONSTRAINT [FK_ANALYS_MATOBJEKT]
GO
ALTER TABLE [dbo].[ANALYS_BIFOGAD_RAPPORT]  WITH CHECK ADD  CONSTRAINT [FK_ANALYS_BIFOGAD_RAPPORT_ANALYS] FOREIGN KEY([ANALYS_ID])
REFERENCES [dbo].[ANALYS] ([ID])
GO
ALTER TABLE [dbo].[ANALYS_BIFOGAD_RAPPORT] CHECK CONSTRAINT [FK_ANALYS_BIFOGAD_RAPPORT_ANALYS]
GO
ALTER TABLE [dbo].[ANALYS_BIFOGAD_RAPPORT]  WITH CHECK ADD  CONSTRAINT [FK_ANALYS_BIFOGAD_RAPPORT_BIFOGAD_FIL] FOREIGN KEY([BIFOGAD_FIL_ID])
REFERENCES [dbo].[BIFOGAD_FIL] ([ID])
GO
ALTER TABLE [dbo].[ANALYS_BIFOGAD_RAPPORT] CHECK CONSTRAINT [FK_ANALYS_BIFOGAD_RAPPORT_BIFOGAD_FIL]
GO
ALTER TABLE [dbo].[ANVANDARE]  WITH CHECK ADD  CONSTRAINT [FK_ANVANDARE_KARTLAGER] FOREIGN KEY([DEFAULT_KARTLAGER_ID])
REFERENCES [dbo].[KARTLAGER] ([ID])
GO
ALTER TABLE [dbo].[ANVANDARE] CHECK CONSTRAINT [FK_ANVANDARE_KARTLAGER]
GO
ALTER TABLE [dbo].[ANVANDARGRUPP_ANVANDARE]  WITH CHECK ADD  CONSTRAINT [FK_ANVANDARGRUPP_ANVANDARE_ANVANDARE] FOREIGN KEY([ANVANDAR_ID])
REFERENCES [dbo].[ANVANDARE] ([ID])
GO
ALTER TABLE [dbo].[ANVANDARGRUPP_ANVANDARE] CHECK CONSTRAINT [FK_ANVANDARGRUPP_ANVANDARE_ANVANDARE]
GO
ALTER TABLE [dbo].[ANVANDARGRUPP_ANVANDARE]  WITH CHECK ADD  CONSTRAINT [FK_ANVANDARGRUPP_ANVANDARE_ANVANDARGRUPP] FOREIGN KEY([ANVANDARGRUPP_ID])
REFERENCES [dbo].[ANVANDARGRUPP] ([ID])
GO
ALTER TABLE [dbo].[ANVANDARGRUPP_ANVANDARE] CHECK CONSTRAINT [FK_ANVANDARGRUPP_ANVANDARE_ANVANDARGRUPP]
GO
ALTER TABLE [dbo].[GRANSVARDE]  WITH CHECK ADD  CONSTRAINT [FK_GRANSVARDE_ANVANDARGRUPP] FOREIGN KEY([LARM_TILL_ANVANDARGRUPP_ID])
REFERENCES [dbo].[ANVANDARGRUPP] ([ID])
GO
ALTER TABLE [dbo].[GRANSVARDE] CHECK CONSTRAINT [FK_GRANSVARDE_ANVANDARGRUPP]
GO
ALTER TABLE [dbo].[GRANSVARDE]  WITH CHECK ADD  CONSTRAINT [FK_GRANSVARDE_LARMNIVA] FOREIGN KEY([LARMNIVA_ID])
REFERENCES [dbo].[LARMNIVA] ([ID])
GO
ALTER TABLE [dbo].[GRANSVARDE] CHECK CONSTRAINT [FK_GRANSVARDE_LARMNIVA]
GO
ALTER TABLE [dbo].[GRANSVARDE]  WITH CHECK ADD  CONSTRAINT [FK_GRANSVARDE_MATNINGSTYP] FOREIGN KEY([MATNINGSTYP_ID])
REFERENCES [dbo].[MATNINGSTYP] ([ID])
GO
ALTER TABLE [dbo].[GRANSVARDE] CHECK CONSTRAINT [FK_GRANSVARDE_MATNINGSTYP]
GO
ALTER TABLE [dbo].[GRUPP_MATOBJEKT]  WITH CHECK ADD  CONSTRAINT [FK_MATOBJEKT_GRUPP_GRUPP] FOREIGN KEY([GRUPP_ID])
REFERENCES [dbo].[GRUPP] ([ID])
GO
ALTER TABLE [dbo].[GRUPP_MATOBJEKT] CHECK CONSTRAINT [FK_MATOBJEKT_GRUPP_GRUPP]
GO
ALTER TABLE [dbo].[GRUPP_MATOBJEKT]  WITH CHECK ADD  CONSTRAINT [FK_MATOBJEKT_GRUPP_MATOBJEKT] FOREIGN KEY([MATOBJEKT_ID])
REFERENCES [dbo].[MATOBJEKT] ([ID])
GO
ALTER TABLE [dbo].[GRUPP_MATOBJEKT] CHECK CONSTRAINT [FK_MATOBJEKT_GRUPP_MATOBJEKT]
GO
ALTER TABLE [dbo].[HANDELSE]  WITH CHECK ADD  CONSTRAINT [FK_HANDELSE_MATOBJEKT] FOREIGN KEY([MATOBJEKT_ID])
REFERENCES [dbo].[MATOBJEKT] ([ID])
GO
ALTER TABLE [dbo].[HANDELSE] CHECK CONSTRAINT [FK_HANDELSE_MATOBJEKT]
GO
ALTER TABLE [dbo].[HANDELSE_BIFOGAD_BILD]  WITH CHECK ADD  CONSTRAINT [FK_HANDELSE_BIFOGAD_BILD_BIFOGAD_FIL] FOREIGN KEY([BIFOGAD_FIL_ID])
REFERENCES [dbo].[BIFOGAD_FIL] ([ID])
GO
ALTER TABLE [dbo].[HANDELSE_BIFOGAD_BILD] CHECK CONSTRAINT [FK_HANDELSE_BIFOGAD_BILD_BIFOGAD_FIL]
GO
ALTER TABLE [dbo].[HANDELSE_BIFOGAD_BILD]  WITH CHECK ADD  CONSTRAINT [FK_HANDELSE_BIFOGAD_BILD_HANDELSE] FOREIGN KEY([HANDELSE_ID])
REFERENCES [dbo].[HANDELSE] ([ID])
GO
ALTER TABLE [dbo].[HANDELSE_BIFOGAD_BILD] CHECK CONSTRAINT [FK_HANDELSE_BIFOGAD_BILD_HANDELSE]
GO
ALTER TABLE [dbo].[KARTLAGER_FIL]  WITH CHECK ADD  CONSTRAINT [FK_KARTLAGER_FIL_KARTLAGER] FOREIGN KEY([KARTLAGER_ID])
REFERENCES [dbo].[KARTLAGER] ([ID])
GO
ALTER TABLE [dbo].[KARTLAGER_FIL] CHECK CONSTRAINT [FK_KARTLAGER_FIL_KARTLAGER]
GO
ALTER TABLE [dbo].[LARM]  WITH CHECK ADD  CONSTRAINT [FK_LARM_GRANSVARDE] FOREIGN KEY([GRANSVARDE_ID])
REFERENCES [dbo].[GRANSVARDE] ([ID])
GO
ALTER TABLE [dbo].[LARM] CHECK CONSTRAINT [FK_LARM_GRANSVARDE]
GO
ALTER TABLE [dbo].[LARM]  WITH CHECK ADD  CONSTRAINT [FK_LARM_MATNING] FOREIGN KEY([MATNING_ID])
REFERENCES [dbo].[MATNING] ([ID])
GO
ALTER TABLE [dbo].[LARM] CHECK CONSTRAINT [FK_LARM_MATNING]
GO
ALTER TABLE [dbo].[MATNING]  WITH CHECK ADD  CONSTRAINT [FK_MATNING_MATNINGSTYP] FOREIGN KEY([MATNINGSTYP_ID])
REFERENCES [dbo].[MATNINGSTYP] ([ID])
GO
ALTER TABLE [dbo].[MATNING] CHECK CONSTRAINT [FK_MATNING_MATNINGSTYP]
GO
ALTER TABLE [dbo].[MATNINGSLOGG]  WITH CHECK ADD  CONSTRAINT [FK_MATNINGSLOGG_MATNING] FOREIGN KEY([MATNING_ID])
REFERENCES [dbo].[MATNING] ([ID])
GO
ALTER TABLE [dbo].[MATNINGSLOGG] CHECK CONSTRAINT [FK_MATNINGSLOGG_MATNING]
GO
ALTER TABLE [dbo].[MATNINGSTYP]  WITH CHECK ADD  CONSTRAINT [FK_MATNINGS_TYP_MATOBJEKT] FOREIGN KEY([MATOBJEKT_ID])
REFERENCES [dbo].[MATOBJEKT] ([ID])
GO
ALTER TABLE [dbo].[MATNINGSTYP] CHECK CONSTRAINT [FK_MATNINGS_TYP_MATOBJEKT]
GO
ALTER TABLE [dbo].[MATNINGSTYP]  WITH CHECK ADD  CONSTRAINT [FK_MATNINGSTYP_ANVANDARGRUPP] FOREIGN KEY([MATANSVARIG_ANVANDARGRUPP_ID])
REFERENCES [dbo].[ANVANDARGRUPP] ([ID])
GO
ALTER TABLE [dbo].[MATNINGSTYP] CHECK CONSTRAINT [FK_MATNINGSTYP_ANVANDARGRUPP]
GO
ALTER TABLE [dbo].[MATNINGSTYP]  WITH CHECK ADD  CONSTRAINT [FK_MATNINGSTYP_DEFINITION_MATNINGSTYP] FOREIGN KEY([DEFINITION_MATNINGSTYP_ID])
REFERENCES [dbo].[DEFINITION_MATNINGSTYP] ([ID])
GO
ALTER TABLE [dbo].[MATNINGSTYP] CHECK CONSTRAINT [FK_MATNINGSTYP_DEFINITION_MATNINGSTYP]
GO
ALTER TABLE [dbo].[MATOBJEKT]  WITH CHECK ADD  CONSTRAINT [FK_MATOBJEKT_BIFOGAD_FIL] FOREIGN KEY([BIFOGAD_BILD_ID])
REFERENCES [dbo].[BIFOGAD_FIL] ([ID])
GO
ALTER TABLE [dbo].[MATOBJEKT] CHECK CONSTRAINT [FK_MATOBJEKT_BIFOGAD_FIL]
GO
ALTER TABLE [dbo].[MATOBJEKT_BIFOGAT_DOKUMENT]  WITH CHECK ADD  CONSTRAINT [FK_MATOBJEKT_DOKUMENT_BIFOGAD_FIL] FOREIGN KEY([BIFOGAD_FIL_ID])
REFERENCES [dbo].[BIFOGAD_FIL] ([ID])
GO
ALTER TABLE [dbo].[MATOBJEKT_BIFOGAT_DOKUMENT] CHECK CONSTRAINT [FK_MATOBJEKT_DOKUMENT_BIFOGAD_FIL]
GO
ALTER TABLE [dbo].[MATOBJEKT_BIFOGAT_DOKUMENT]  WITH CHECK ADD  CONSTRAINT [FK_MATOBJEKT_DOKUMENT_MATOBJEKT] FOREIGN KEY([MATOBJEKT_ID])
REFERENCES [dbo].[MATOBJEKT] ([ID])
GO
ALTER TABLE [dbo].[MATOBJEKT_BIFOGAT_DOKUMENT] CHECK CONSTRAINT [FK_MATOBJEKT_DOKUMENT_MATOBJEKT]
GO
ALTER TABLE [dbo].[MATRUNDA_MATNINGSTYP]  WITH CHECK ADD  CONSTRAINT [FK_MATRUNDA_MATNINGSTYP_MATNINGSTYP] FOREIGN KEY([MATNINGSTYP_ID])
REFERENCES [dbo].[MATNINGSTYP] ([ID])
GO
ALTER TABLE [dbo].[MATRUNDA_MATNINGSTYP] CHECK CONSTRAINT [FK_MATRUNDA_MATNINGSTYP_MATNINGSTYP]
GO
ALTER TABLE [dbo].[MATRUNDA_MATNINGSTYP]  WITH CHECK ADD  CONSTRAINT [FK_MATRUNDA_MATNINGSTYP_MATRUNDA] FOREIGN KEY([MATRUNDA_ID])
REFERENCES [dbo].[MATRUNDA] ([ID])
GO
ALTER TABLE [dbo].[MATRUNDA_MATNINGSTYP] CHECK CONSTRAINT [FK_MATRUNDA_MATNINGSTYP_MATRUNDA]
GO
