.container {
    width: 33vw;
    height: 50vw;
}

.testContainer {
    width: 33vw;
    height: 50vw;
}

.testContainers {
    width: 33vw;
    height: 50vw;
}

.centered-content {
    display: flex;
}

agm-map {
    height: 40vw;
}