tr.mat-header-row{
    font-weight: bold;
}
.mat-raised-button{
    width: 110px;
    line-height: 32px;
    border-radius: 6px;
}
.mat-paginator{
    margin-top: 1rem;
}
.mat-row{
    padding: 5px 0;
}
.mat-simple-snackbar-action{
    color: white;
}
.mat-simple-snackbar{
    color: white;
}
.warnIcon{
    margin-left: 3px;
    line-height: 20px;
    font-size: 18px;
    vertical-align: middle;
}