.cancel-button {
    margin-right: 16px;
}

.actions{
    padding-top: 16px
}

.fastighet-list {
    margin-bottom: 16px;
}

.remove-button-icon{
    vertical-align: sub;
    font-size: 22px;
    height: 22px;
    width: 22px;
    line-height: 22px;
}

#wrapper{
    padding: 20px;
}

.text-with-icon {
    display: flex; 
    align-items: center; 
    gap: 8px;
}