$orange: #F58026;
$darkgray: #333333;
$gray: #707070;
$lightgray: #f8f8f8;
$white: #ffffff;
$black: #000000;
$green: #57b784;
$darklightgray: #d4d4d4;
$darkgray-transparent: #333333D1;

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #eeeeee,
    100 : #d4d4d4,
    200 : #b8b8b8,
    300 : #9b9b9b,
    400 : #858585,
    500 : #707070,
    600 : #686868,
    700 : #5d5d5d,
    800 : #535353,
    900 : #414141,
    A100 : #f5a9a9,
    A200 : #f07b7b,
    A400 : #ff3a3a,
    A700 : #ff2020,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e5e9ea,
    100 : #bec8ca,
    200 : #92a4a6,
    300 : #667f82,
    400 : #466368,
    500 : #25484d,
    600 : #214146,
    700 : #1b383d,
    800 : #163034,
    900 : #0d2125,
    A100 : #64e5ff,
    A200 : #31ddff,
    A400 : #00d3fd,
    A700 : #00bee4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warning: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);